* {
    font-family: Roboto;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/***************************************************************************************************************/

/*  devices -> (mobils, less/equal than 425px) */
@media screen and (max-width: 425px) {

    body {
        width: 100%;
    }
    /***** Header *****/

    .header {
        width: 97%;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .header__logo{
        display: flex;
        width: 60%;
        margin:auto;
    }
    .header__location {
        width: 100%;
        background: var(--Grey-2, #EAEAEA);
        display: flex;
        justify-content: center;
    }
    .header__location p {
        font-weight: bold;
        color: var(--Grey, #353535);;
    }
    .header__location .fa-solid {
        color: var(--Grey, #353535);
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        
    }

    /***** hero *****/

    .hero{
        width: 97%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
        padding: 30px 0 30px 0px;

        /*Background*/
        background: var(--Background, #F6F6F6);
    }
    .hero h1{
        margin-top: 30px;
        margin-bottom:18px; 
        text-align: center;
        font-size: 35px;
        font-weight: 700;
    }
    .hero h3 {
        margin-bottom: 18px;
        color: var(--Grey, #353535);
        text-align: center;
        font-size: 18px;
        font-weight: 300;
    }
    .hero__button {
        text-decoration: none;
        padding: 13px 18.75px 13px 18.75px;
        height: 50px;
        border-radius: 25px;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        color: white;

        /* Shadow/Button */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
    .hero__button:hover {
        background: var(--Button-Gradient, linear-gradient(#9356DC, #FF79DA)) ;
    }

    /***** Fonctionnement *****/

    .Fonctionnement {
        margin-bottom: 100px;
    }
    .Fonctionnement h2 {
        padding-left: 20px;
    }
    .Fonctionnement__Boutton {
        display: flex;
        gap: 30px;
    }
    .Fonctionnement__Boutton .fa-solid {
        color: #7E7E7E;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
    }
    .Fonctionnement__Boutton h3 {
        font-weight: 549;
    }
    .Fonctionnement__card {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .Fonctionnement__circle {
        margin-top: auto;
        margin-bottom: auto;
        border: solid 1px #9356DC;
        background-color: #9356DC;
        color: white;
        border-radius: 100%;
        padding: 0 5px 0 5px;
        line-height: normal;

        position: relative;
        right: 10px;
    }
    .Fonctionnement__Boutton .fa-store {
        color: #9356DC;
    }

    /***** Restaurants *****/

    .Restaurants {
        width: 97%;
        background-color: #F6F6F6;
        padding-top: 30px;
    }
    .Restaurants h2 {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .Restaurants__cards__container{
        display: flex;
        flex-direction: column;
    }
    .Restaurants__article {
        width: 95%;
        height: 341px;
    }
    .Restaurants__image {
        width: 100%;
        height: 230px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .Restaurants__cards {
        background-color: white;
        border-radius: 20px 20px;
        margin-left: 15px;
        margin-bottom: 30px;
        padding-bottom: 5px;
        flex-direction: column;
    }
    .Restaurants__article a {
        text-decoration: none;
        color: black;
    }
    .Restaurants__cards h3 , p  {
        margin-left: 15px;
        line-height: 10px;
    }
    .Restaurants__Badge {
        position: relative;
        width: 25%;
        height: 30px;
        background-color:rgba(153, 226, 208, 1) ;
        border-radius: 2px;
        line-height: 1px;
    }
    .Badge--1{
        position: absolute;
        top: 990px;
        left: 65%;
    }
    .Badge--2{
        position: absolute;
        top: 1330px;
        left: 65%;
    }
    .Restaurants__Badge--p {
        margin-top: auto;
        margin-left: 0px;
        padding-top: 10px;
        margin-bottom: auto;
        text-align: center;
        color: var(--Green-Font, #008766);;
    }
    .Restaurants__cards__like {
        position: relative;
        left: 85%;
        bottom: 50px;
    }
    .empty-heart{
        position: absolute;
        visibility: visible;
        transform: scale(1);
        transition:  transform 500ms;
        &:hover {
         visibility: hidden;
         cursor: pointer;
        }
     }
     .anim-heart {
         position: absolute;
         color: #9356DC;
         opacity: 0;
         &:hover{
             transform: scale(1.1);
             visibility: visible;
             opacity: 1;
         }
     }

    /***** Footer*****/

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
        padding: 22px 25px;
    }
    .footer__logo {
        font-family: Shrikhand;
    }
    .footer__link {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .footer__link a i {
        padding-right:6px ;
    }
    .footer__link a {
        color: white;
    }
}

/*------------------------------------------------------------------*/

/* devices -> ( mobils, more than 425.9px)*/
@media (min-width: 425.1px ) {

    /***** Header *****/
    .header {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 200px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .header__logo{
        display: flex;
        text-align: center;
        width: 60%;
        margin:auto;
        padding: 30px 0 30px 0;
    }
    
    .header__location {
        width: 100%;
        background: var(--Grey-2, #EAEAEA);
        display: flex;
        justify-content: center;
    }
    .header__location p {
        font-weight: bold;
        color: var(--Grey, #353535);;
    }
    .header__location .fa-solid {
        color: var(--Grey, #353535);
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        
    }

    /***** hero *****/

    .hero{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
        padding: 30px 0 30px 0px;

        /*Background*/
        background: var(--Background, #F6F6F6);
    }
    .hero h1{
        margin-top: 30px;
        margin-bottom:18px; 
        text-align: center;
        font-size: 35px;
        font-weight: 700;
    }
    .hero h3 {
        margin-bottom: 18px;
        color: var(--Grey, #353535);
        text-align: center;
        font-size: 18px;
        font-weight: 300;
    }
    .hero__button {
        text-decoration: none;
        padding: 13px 18.75px 13px 18.75px;
        height: 50px;
        border-radius: 25px;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        color: white;

        /* Shadow/Button */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
    .hero__button:hover {
        background: var(--Button-Gradient, linear-gradient(#9356DC, #FF79DA)) ;
    }

    /***** Fonctionnement *****/
    .Fonctionnement {
        margin-bottom: 100px;
    }
    .Fonctionnement h2 {
        padding-left: 20px;
    }
    .Fonctionnement__Boutton {
        display: flex;
        gap: 30px;
    }
    .Fonctionnement__Boutton .fa-solid {
        color: #7E7E7E;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
    }
    .Fonctionnement__Boutton h3 {
        font-weight: 549;
    }
    .Fonctionnement__card {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .Fonctionnement__circle {
        margin-top: auto;
        margin-bottom: auto;
        border: solid 1px #9356DC;
        background-color: #9356DC;
        color: white;
        border-radius: 100%;
        padding: 0 5px 0 5px;
        line-height: normal;

        position: relative;
        right: 10px;
    }
    .Fonctionnement__Boutton .fa-store {
        color: #9356DC;
    }

    /***** Restaurants *****/
    .Restaurants {
        background-color: #F6F6F6;
        width: 100%;
        padding-top: 30px;
    }
    .Restaurants h2 {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .Restaurants__cards__container {
        display: flex;
        flex-direction: column;
    }
    .Restaurants__article {
        width: 95%;
        height: 341px;
    }
    .Restaurants__image {
        width: 100%;
        height: 230px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .Restaurants__cards {
        background-color: white;
        border-radius: 20px 20px;
        margin-left: 15px;
        padding-bottom: 5px;
        flex-direction: column;
    }
    .Restaurants__article a {
        text-decoration: none;
        color: black;
    }
    .Restaurants__cards h3,p  {
        margin-left: 15px;
        line-height: 10px;
    }
    .Restaurants__Badge {
        position: relative;
        width: 25%;
        height: 30px;
        background-color:rgba(153, 226, 208, 1) ;
        border-radius: 2px;
        line-height: 1px;
    }
    .Badge--1{
        position: absolute;
        top: 990px;
        left: 65%;
    }
    .Badge--2{
        position: absolute;
        top: 1330px;
        left: 65%;
    }
    .Restaurants__Badge--p {
        margin-top: auto;
        margin-left: 0px;
        padding-top: 10px;
        margin-bottom: auto;
        text-align: center;
        color: var(--Green-Font, #008766);;
    }
    .Restaurants__cards__like {
        position: relative;
        left: 85%;
        bottom: 50px;
    }
    .empty-heart{
        position: absolute;
        visibility: visible;
        transform: scale(1);
        transition:  transform 500ms;
        &:active {
         visibility: hidden;
         cursor: pointer;
        }
     }
     .anim-heart {
         position: absolute;
         color: #9356DC;
         opacity: 0;
         &:active{
             transform: scale(1.1);
             visibility: visible;
             opacity: 1;
         }
     }

    /***** Footer*****/

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
        padding: 22px 25px;
    }
    .footer__logo {
        font-family: Shrikhand;
    }
    .footer__link {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .footer__link a i {
        padding-right:6px ;
    }
    .footer__link a {
        color: white;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------/*

/* devices -> (tablet, 768px) */
@media (min-width: 768px ) {
    .header{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 200px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .header__logo {
        display: flex;
        text-align: center;
        width: 25%;
        margin:auto;
        padding: 30px 0 30px 0;
    }
    .header__location {
        width: 100%;
        background: var(--Grey-2, #EAEAEA);
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: auto;
        gap: 17px;
        color: var(--Grey, #353535);
    }
    .header__location .fa-solid {
        color: var(--Grey, #353535);
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .header__location p {
        font-weight: bold;
    }
    .hero{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 3px 0 30px 0px;

        /*Background*/
        background: var(--Background, #F6F6F6);
    }
    .hero h1{
        margin-top: 30px;
        margin-bottom:18px; 
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
    .hero h3 {
        margin-bottom: 18px;
        color: var(--Grey, #353535);
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: n1;
    }
    .hero__button {
        text-decoration: none;
        padding: 13px 18.75px 13px 18.75px;
        height: 50px;
        border-radius: 25px;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        color: white;

        /* Shadow/Button */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
    .hero__button:hover {
        background: var(--Button-Gradient, linear-gradient(#9356DC, #FF79DA)) ;
    }

    /***Fonctionnement***/

    .Fonctionnement {
        margin-bottom: 50px;
        padding: 0px 0px 0px 0px;
    }
    .Fonctionnement h2 {
        padding-left: 20px;
    }
    .Fonctionnement__Boutton {
        display: flex;
        gap: 35px;
    }
    .Fonctionnement__Boutton .fa-solid {
        color: #7E7E7E;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
    }
    .Fonctionnement__Boutton h3 {
        font-weight: 549;
    }
    .Fonctionnement__card {
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }
    .Fonctionnement__circle {
        margin-top: auto;
        margin-bottom: auto;
        border: solid 1px #9356DC;
        background-color: #9356DC;
        color: white;
        border-radius: 100%;
        padding: 0 5px 0 5px;
        line-height: normal;

        position: relative;
        right: 10px;
    }
    .Fonctionnement__Boutton .fa-store {
        color: #9356DC;
    }

    /***** Restaurants *****/

    .Restaurants {
        max-width: 100%;
        background-color: #F6F6F6;
        padding:15px 0 0 0;
    }
    .Restaurants h2 {
        padding-left: 20px;
    }
    .Restaurants__cards__container {
        display: flex;
        gap: 10px;
        margin-top: 30px;
    }
    .Restaurants__article {
        width: 98%;
        height: 341px;
    }
    .Restaurants__image {
        width: 100%;
        height: 230px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .Restaurants__cards {
        background-color: white;
        border-radius: 20px 20px;
        margin-left: 15px;
        padding-bottom: 5px;
        flex-direction: column;
    }
    .Restaurants__article a {
        text-decoration: none;
        color: black;
    }
    .Restaurants__cards h3,p  {
        margin-left: 15px;
        line-height: 10px;
    }
    .Restaurants__cards__like {
        position: relative;
        left: 85%;
        bottom: 50px;
    }
    .Restaurants__cards__like .empty-heart{
        position: absolute;
        visibility: visible;
        transform: scale(1);
        transition:  transform 500ms;
        &:active {
         visibility: hidden;
         cursor: pointer;
        }
     }
     .Restaurants__cards__like .anim-heart {
         position: absolute;
         color: #9356DC;
         opacity: 0;
         &:active{
             transform: scale(1.1);
             visibility: visible;
             opacity: 1;
         }
     }
    
    .Restaurants__Badge {
        position: relative;
        width: 20%;
        height: 30px;
        background-color:rgba(153, 226, 208, 1) ;
        border-radius: 2px;
        line-height: 1px;
    }
    .Badge--1{
        position: absolute;
        top: 830px;
        left: 75%;
    }
    .Badge--2{
        position: absolute;
        top:1180px;
        left:75%;
    }
    .Restaurants__Badge--p {
        margin-top: auto;
        margin-left: 0px;
        padding-top: 10px;
        text-align: center;
        color: var(--Green-Font, #008766);;
    }

    /***** Footer

    .footer {
        width: 10px;
        display: flex;
        flex-direction: row-reverse;
        background-color: #353535;
        color: white;
    }
    .footer__logo{
        font-family: Shrikhand;
    }
    .footer__link {
        display: flex;
        flex-direction: row;
        gap: 6px;
        margin-bottom: auto;
        margin-top: auto;
    }
    .footer__link a i {
        padding-right:6px ;
    }
    .footer__link a {
        color: white;
    }
    .footer__link {
        padding-right: 20px;
    }
    *****/
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------/*

/* devices -> (laptop, 1024px) */
@media (min-width: 1024px ) {
    .header{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 200px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .header__logo{
        display: flex;
        text-align: center;
        width: 19%;
        margin:auto;
        padding: 30px 0 30px 0;
    }
    .header__location {
        width: 100%;
        background: var(--Grey-2, #EAEAEA);
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: auto;
        gap: 17px;
        color: var(--Grey, #353535);
    }
    .header__location .fa-solid {
        color: var(--Grey, #353535);
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .header__location > p {
        font-weight: bold;
        padding: 0 0 0 0;
    }

    /*** hero ***/
    
    .hero{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 3px 0 30px 0px;

        /*Background*/
        background: var(--Background, #F6F6F6);
    }
    .hero h1{
        margin-top: 30px;
        margin-bottom:18px; 
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
    .hero h3 {
        margin-bottom: 18px;
        color: var(--Grey, #353535);
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: n1;
    }
    .hero__button {
        text-decoration: none;
        padding: 13px 18.75px 13px 18.75px;
        height: 50px;
        border-radius: 25px;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        color: white;

        /* Shadow/Button */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
    .hero__button:hover {
        background: var(--Button-Gradient, linear-gradient(#9356DC, #FF79DA)) ;
    }
    
    /**** Fonctionnement *****/

    .Fonctionnement {
        margin-bottom: 50px;
        padding: 0px 0px 0px 0px;
    }
    .desktop-line {
        display: flex;
        gap: 30px;
    }
    .Fonctionnement h2 {
        padding-left: 20px;
    }
    .Fonctionnement__Boutton {
        display: flex;
        gap: 30px;
    }
    .Fonctionnement__Boutton .fa-solid {
        color: #7E7E7E;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
    }
    .Fonctionnement__Boutton h3 {
        font-weight: 549;
    }
    .Fonctionnement__card{
        display: flex;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }
    .Fonctionnement__circle {
        margin-top: auto;
        margin-bottom: auto;
        border: solid 1px #9356DC;
        background-color: #9356DC;
        color: white;
        border-radius: 100%;
        padding: 0 5px 0 5px;
        line-height: normal;

        position: relative;
        right: 10px;
    }
    .Fonctionnement__Boutton .fa-store {
        color: #9356DC;
    }

    /***** Restaurants *****/

    .Restaurants {
        max-width: 100%;
        background-color: #F6F6F6;
        padding: 15px 0px;
    }
    .Restaurants h2 {
        padding-left: 20px;
    }
    .Restaurants__cards__container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 30px;
    }
    .Restaurants__article {
        width: 49%;
        height: 341px;
    }
    .Restaurants__image {
        width: 100%;
        height: 230px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .Restaurants__cards {
        background-color: white;
        border-radius: 20px 20px;
        margin-left: 15px;
        padding-bottom: 5px;
        flex-direction: column;
    }
    .Restaurants__article a {
        text-decoration: none;
        color: black;
    }
    .Restaurants__cards h3,p  {
        margin-left: 15px;
        line-height: 10px;
        padding-bottom: 10px;
    }
    
    .Restaurants__cards__like {
        position: relative;
        left: 85%;
        bottom: 50px;
    }
    .Restaurants__cards__like .empty-heart{
       position: absolute;
       visibility: visible;
       transform: scale(1);
       transition:  transform 500ms;
       &:active {
        visibility: hidden;
        cursor: pointer;
       }
    }
    .Restaurants__cards__like .anim-heart {
        position: absolute;
        color: #9356DC;
        opacity: 0;
        &:active{
            transform: scale(1.1);
            visibility: visible;
            opacity: 1;
        }
    }
    .Restaurants__Badge {
        position: relative;
        width: 8%;
        height: 30px;
        background-color:rgba(153, 226, 208, 1) ;
        border-radius: 2px;
        line-height: 1px;
    }
    .Badge--1{
        position: absolute;
        top: 700px;
        left: 39%;
    }
    .Badge--2{
        position: absolute;
        top: 700px;
        left:88%;
    }
    .Restaurants__Badge--p {
        margin-top: auto;
        margin-left: 0px;
        padding-top: 10px;
        text-align: center;
        color: var(--Green-Font, #008766);;
    }

    /***** Footer*****/

    footer {
        display: flex;
        flex-direction: row-reverse;
        background-color: #353535;
        color: white;
        padding: 22px 25px;
        gap: 30px;
    }
    footer .logo {
        font-family: Shrikhand;
    }
    footer .liens {
        display: flex;
        gap: 6px;
        margin-bottom: auto;
        margin-top: auto;
    }
    footer .liens a i {
        padding-right:6px ;
    }
    .liens a {
        color: white;
    }
    .liens--a {
        padding-right: 20px;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------/*

/* devices -> (desktop, 1440px) */
@media (min-width: 1440px ) {
    .header{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 200px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    .header__logo{
        display: flex;
        text-align: center;
        width: 13%;
        margin:auto;
        padding: 30px 0 30px 0;
    }
    .header__location {
        width: 100%;
        background: var(--Grey-2, #EAEAEA);
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: auto;
        gap: 17px;
        color: var(--Grey, #353535);
    }
    .header__location .fa-solid {
        color: var(--Grey, #353535);
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .header__location > p {
        font-weight: bold;
    }

    /*** hero ***/

    .hero{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 3px 0 30px 0px;

        /*Background*/
        background: var(--Background, #F6F6F6);
    }
    .hero h1{
        margin-top: 30px;
        margin-bottom:18px; 
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
    .hero h3 {
        margin-bottom: 18px;
        color: var(--Grey, #353535);
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: n1;
    }
    .hero__button {
        text-decoration: none;
        padding: 13px 18.75px 13px 18.75px;
        height: 50px;
        border-radius: 25px;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        color: white;

        /* Shadow/Button */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
    .hero__button:hover {
        background: var(--Button-Gradient, linear-gradient( #9356DC, #FF79DA)) ;
        padding: 18px 22px 18px 22px;
    }
    
    /***** Fonctionnement *****/

    .Fonctionnement {
        margin-bottom: 50px;
        padding: 0 180px 0 180px;
    }
    .Fonctionnement h2 {
        padding-left: 20px;
    }
   
    .Fonctionnement__Boutton {
        display: flex;
        gap: 30px;
    }
    .Fonctionnement__Boutton .fa-solid {
        color: #7E7E7E;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
    }
    .Fonctionnement__Boutton h3 {
        font-weight: 549;
    }
    .Fonctionnement__card {
        display: flex;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }
    .Fonctionnement__circle {
        margin-top: auto;
        margin-bottom: auto;
        border: solid 1px #9356DC;
        background-color: #9356DC;
        color: white;
        border-radius: 100%;
        padding: 0 5px 0 5px;
        line-height: normal;

        position: relative;
        right: 10px;
    }
    .Fonctionnement__Boutton .fa-store {
        color: #9356DC;
    }


    /***** Restaurants *****/
   
    .Restaurants {
        background-color: #F6F6F6;
    }
    .Restaurants h2 {
        padding-left:200px;
    }
    .Restaurants__cards__container {
        display: flex;
        gap: 50px;
        margin-top: 30px;
        padding-left: 200px;
    }
    .Restaurants__article {
        width: 40%;
        height: 341px;
    }
    .Restaurants__image {
        width: 100%;
        height: 230px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .Restaurants__cards {
        background-color: white;
        border-radius: 20px 20px;
        margin-left: 15px;
        padding-bottom: 5px;
        flex-direction: column;
    }
    .Restaurants__article a {
        text-decoration: none;
        color: black;
    }
    .Restaurants__cards h3,p  {
        margin-left: 15px;
        line-height: 10px;
    }
    .Restaurants__Badge {
        position: relative;
        width: 8%;
        height: 30px;
        background-color:rgba(153, 226, 208, 1) ;
        border-radius: 2px;
        line-height: 1px;
    }
    .Badge--1{
        position: absolute;
        top: 700px;
        left: 38%;
    }
    .Badge--2{
        position: absolute;
        top: 700px;
        left:76%;
    }
    .Restaurants__Badge--p {
        margin-top: auto;
        margin-left: 0px;
        padding-top: 10px;
        text-align: center;
        color: var(--Green-Font, #008766);;
    }
    .Restaurants__cards__like {
        position: relative;
        left: 85%;
        bottom: 50px;
    }
    .Restaurants__cards__like .empty-heart{
       position: absolute;
       visibility: visible;
       transform: scale(1);
       transition:  transform 500ms;
       &:active {
        visibility: hidden;
        cursor: pointer;
       }
    }
    .Restaurants__cards__like .anim-heart {
        position: absolute;
        color: #9356DC;
        opacity: 0;
        &:active{
            transform: scale(1.1);
            visibility: visible;
            opacity: 1;
        }
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* devices -> (desktop, 2560px) */
@media (min-width: 2560px) {
    .Restaurants{
        padding: 15px 0px; 
    }
    .Restaurants__cards__container{
        width: 100%;
        padding: 0 180px 0 180px;
    }
    .Badge--1{
        position: absolute;
        top: 720px;
        left: 35%;
    }
    .Badge--2{
        position: absolute;
        top: 720px;
        left:73.6%;
    }
    .Restaurants__cards__like {
        position: relative;
        left: 85%;
        bottom: 50px;
    }
    .Restaurants__cards__like .empty-heart{
       position: absolute;
       visibility: visible;
       transform: scale(1);
       transition:  transform 500ms;
       &:active {
        visibility: hidden;
        cursor: pointer;
       }
    }
    .Restaurants__cards__like .anim-heart {
        position: absolute;
        color: #9356DC;
        opacity: 0;
        &:active{
            transform: scale(1.1);
            visibility: visible;
            opacity: 1;
        }
    }
    
    

}