$font-stack: Helvitica, sans-serif;

$green-Font:#008766;

$green:#99E2D0;

$grey-color:var(--Grey-2, #EAEAEA);

$grey-color-2:rgba(53, 53, 53, 1);

$footer-grey:var(--Grey, #353535);

$hero__button:var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));

$gey-tint:#7E7E7E;

$background-color:#F6F6F6;

$circle-color:#9356DC;
$heart: #9356DC

