.Fonctionnement{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-bottom: 30px;
    
    h1{
        padding-left: 10px;
    }
    
    .fonctionnement-textes{
        flex-direction: column;

        .fonctionnement-texte{
            display: flex;
            gap: 20px;
            border: solid $background-color ;
            @include button-rounded;
            background-color: $background-color;
            margin:20px ;

            p{
                font-weight: 600;
                font-size: 18px;
            }


            .numero-fonctionnement{
                @include centrage_hauteur;
                @include button-circle;
                
            }

            .fa-solid{
                @include centrage_hauteur ;
                color: $gey-tint;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Fonctionnement{
        .fonctionnement-textes{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            .fonctionnement-texte{
                padding: 0 10px 0 0;
                .numero-fonctionnement{
                  right: 5%;
                  width: 10%;
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .Fonctionnement{
        padding: 0 120px 0 120px;
        .fonctionnement-textes{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;

            .fonctionnement-texte{
                justify-content: space-between;
                padding: 0 30px 0 0;
                .numero-fonctionnement{
                  right: 5%;
                }

            }
        }
    }
}

@media screen and (min-width: 1441px){
    .Fonctionnement{
        padding: 0 120px 0 120px;

        .fonctionnement-textes{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content:space-around;

            .fonctionnement-texte{
                padding: 0 30px 0 0;
                .numero-fonctionnement{
                  position: relative;

                }
            }
        }
    }
}

