footer{
    display: flex;
    flex-direction: column;
    background-color:$footer-grey;
    color: white;
    padding: 10px 0px 10px 15px;
    

    .endpage__title {
        font-family: "Shrikhand", sans-serif;
        font-size: 18px;
        color: #fff;
    }

    .footer__link {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .fa-solid {
            padding-right: 8px;
        }
    }

    a {
        color: white;
    }
}

@media screen and (min-width:425px) and (max-width: 1024px){
    footer{
    
        .endpage__title p {
            font-size: 22px;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    footer{
        flex-direction: row-reverse;

        .endpage__title {
            padding: 15px 30px 0 0;
        }
    
        .footer__link {
            flex-direction: row;
            padding: 35px 120px;
        }
    }
}

@media screen and (min-width: 1441px){
    footer{
        flex-direction: row-reverse;
    
        .endpage__title {
            padding: 15px 30px 0 0;
        }
    
        .footer__link {
            flex-direction: row;
            gap: 10px;
            padding: 35px 120px;
        }
    }
}
