header{
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    .logo{
        width: 40%;
        @include centrage;
        padding: 15px 0 15px 0;
    }
    .header__location{
        display: flex;
        justify-content: center;
        gap: 10px;
        background-color: $grey-color;
        width: 100%;
        .fa-solid{
            @include centrage_hauteur;
        }
    }
}

@media screen and (min-width:426px) and (max-width: 768px) {
    header{
        .logo{
            width: 35%;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    header{
        .logo{
            width: 20%;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    header{
        .logo{
            width: 23%;
        }
    }
}

@media screen and (min-width: 1441px){
    header{
        .logo{
            width: 18%;
        }
    }
}


