.hero{
    flex-direction: column;
    text-align: center;
    background-color: $background-color;
    padding-top: 10px;
    padding-bottom: 45px;

    h1{
        font-size: 24px;
    }
    
    h3{
        font-weight: 300;
        font-size: 18px;
    }
}