

.Restaurants {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    h2{
        padding-top: 15px;
        padding-left: 10px;
    }

    .cards-container{
        display: flex;
        flex-direction: column;
        a{
            color: black;
        }

        .article-restaurant{
            width: 90%;
            @include centrage;
            @include card-rounded;
            background-color: white;
            margin-bottom: 50px;

            img {
                width: 100%;
                height: 231px;
                object-fit: cover;
                @include img-rounded;
            }
            

            .Badge--p{
                @include badge;
                text-align: center;
                @include badge-rounded;
                &--hidden{
                    visibility: hidden;
                    padding: 12px;
                }
            }

            .txt-cards{
                line-height: 16px;
                padding: 0 0 0 12px;
            }

            .cards-like{
                position: relative;
                width: 20%;
                bottom: 80px;
                left: 85%;
            }
        }
    }
}

@media screen and (min-width:769px) and (max-width: 1024px){
    #home{
        height: 1380px;
        margin: 0;
        .Restaurants{
        .cards-container{
            flex-direction: row;
            .article-restaurant{
                width: 40%;

                .cards-like{
                    left: 80%;
                }
            }
        }
    }
}}
@media screen and (min-width:1025px) and (max-width: 1440px){
    #home{
        margin: 0;
        .Restaurants{
            padding: 0 120px 0 120px;
    
            .cards-container{
                flex-direction: row;
                padding: 0 0 20px 0;
    
                .article-restaurant{
                    width: 40%;
    
                    .cards-like{
                        left: 85%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1441px){
    .Restaurants{
        padding: 0 120px 0 120px;

        .cards-container{
            flex-direction: row;
            
            .article-restaurant{
                width: 40%;

                .cards-like{
                    left: 90%;
                }
                
            }
        }
    }
}


