/* animation like */
.empty-heart{
    position: absolute;
    visibility: visible;
    transform: scale(1);
    transition: transform all 0.6s;
    &:hover{
        visibility: hidden;
        cursor: pointer;
    }
}
.anim-heart{
    position: absolute;
    color: $heart;
    opacity: 0;
    transition: all 0.6s;
    &:hover{
        transform: scale(1.1);
        visibility: visible;
        cursor: pointer;
        opacity: 1;
    }
}




/* Animation bouton "commander" et "explorer nos restaurants" */ 
.Boutton-box:hover{   
    filter: sepia(25%);
    -webkit-filter: brightness(110%);
}
.Boutton-commande:hover{
    filter: sepia(25%);
    -webkit-filter: brightness(110%);
}





/* Animation icon fonctionnement */ 
.Fonctionnement{
    .fonctionnement-textes{
        .fonctionnement-texte{
            &:hover{
                .fa-solid{
                    color: $circle-color;
                }
            }
        }
    }
}


/* Animation sélection du plat/dessert/entrée */

.card .box {
    animation: select_return 1s ease-in-out forwards;
}

.card:hover{
    .box{
        animation: select 1s ease-in-out forwards;
    }
}
@keyframes select {
    0%{width: 10px;}
    
    100%{
        left: 0px;
        width: 60px;
    }
}
 @keyframes select_return {
    0%{
        left: 0px;
        width:60px;}
    
    100%{
        width: 0px;
    }
 }









@media screen and (min-width:1024px){
    .card:hover{
        .box{
            animation: select 250ms ease-in-out forwards;
        }
    }
}





/* Animation du loader principal */ 
.LoaderContainer {   
    position: absolute;   
    width: 100%;
    height: 100%;
    z-index: 99999;   
    inset: 0;   
    background: #353535;   
    display: flex;   
    flex-direction: column;   
    justify-content: center;   
    align-items: center;   
    animation: hide ease-in-out 4s;
    animation-fill-mode: forwards; 
    opacity: 1;

    span {
        position: relative;
        top: 15%;
        font-size: 30px;
        font-family: $Shrikand;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
         
    }

    .loader {  
        display: flex;   
        animation: rotate 4s ; 

        border: solid 15px $gey-tint;
        color: white;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;


        border-right: solid 15px white ;
        border-left: solid 15px white;
    }
}
@media screen and (min-width:1441px){
    .LoaderContainer{

        span {
            top: 14%;
        }
    }
}
@media screen and (min-width:1799px){
    .LoaderContainer{

        span {
            top: 12%;
        }
    }
}
@media screen and (min-width:2199px){
    .LoaderContainer{

        span {
            top: 10%;
        }
    }
}
@media screen and (min-width:2499px){
    .LoaderContainer{

        span {
            top: 9%;
        }
    }
}
@keyframes rotate {   
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes hide {
    90%{
        opacity: 1;
    }
    100% { opacity: 0; z-index: -99999;}
}
.body_scroll-disabled {
    animation: disable-scroll 2s;
  }
@keyframes disable-scroll {
    0% { overflow: hidden; height: 100%;} 
    99% { overflow: hidden; height: 100%;}
    100% { overflow: visible; height: auto;}
}





/* Animation pour le menu ( Scale )  */
.entrées-anim{
    
    animation: hola 1s;
}
.plats-anim{
    
    animation: hola 1.5s;
}
.desserts-anim{
    
    animation: hola 1.7s;
}

@keyframes hola {
    0%{
        -webkit-transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1);
    }
}


